@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap");
@import "tailwindcss";

/* Hide scrollbar globally but allow scrolling */
*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

body {
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
  background-color: #0d1117;
}

#root {
  width: 100%;
  min-height: 100vh;
}
